

        <title>
            {% block title %}
                Index suivi des stagiaires
            {% endblock %}
        </title>
            {% block css %}
                <link rel="stylesheet" href="{{ asset('bundles/upmcsuivistagiaire/css/global.css') }}"/>
            {% endblock %}
            {% block js %}
                
            {% endblock %}
            {% block link %}
                <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
            {% endblock %}
   
