<!DOCTYPE HTML>
<html lang="fr">
    <head>
        {% include 'UpmcSuiviStagiaireBundle:base:header.html.twig' %}
    </head>
    <body>
         <ul>
        {% block menu %}
            {% include 'UpmcSuiviStagiaireBundle:base:menu.html.twig' %}
        {% endblock %}
        </ul>
        {% block body %}

        {% endblock %}
    </body>    
</html>