
        {% block menu %}
                <li><a href="{{ path('upmc_suivi_stagiaire_accueil') }}">Accueil</a></li>
                <li><a href="{{ path('upmc_suivi_stagiaire_list_candidat') }}">Liste des candidats</a></li>
        {% endblock %}
