
        {% block menu %}
                <li><a href="{{ path('upmc_suivi_stagiaire_accueil') }}">Accueil</a></li>
                <li><a href="{{ path('upmc_suivi_stagiaire_ajout_candidat') }}">Ajouter un candidat</a></li>
        {% endblock %}
