<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <title>
            {% block title %}
                Index suivi des stagiaires
            {% endblock %}
        </title>
            {% block css %}

            {% endblock %}
            {% block js %}
                
            {% endblock %}
    </head>
    <body>
         <ul>
        {% block menu %}
                <li><a href="{{ path('upmc_suivi_stagiaire_ajout_candidat') }}">Ajouter un candidat</a></li>
        {% endblock %}
        </ul>
        {% block body %}

        {% endblock %}
    </body>    
</html>