<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <title>
            {% block title %}
                Index suivi des stagiaires
            {% endblock %}
        </title>
            {% block css %}

            {% endblock %}
            {% block js %}
                
            {% endblock %}
    </head>
    <body>
         <ul>
        {% block menu %}
                <li>first</li>
                <li>second</li>
                <li>third</li>
        {% endblock %}
        </ul>
        {% block body %}

        {% endblock %}
    </body>    
</html>